<h1>Xoá danh mục sản phẩm</h1>
<form [formGroup]="deleteForm" (ngSubmit)="deleteCategory()">
  <table>
    <tr>
      <td>Mã danh mục:</td>
      <td><input type="number" formControlName="id" readonly></td>
    </tr>
    <tr>
      <td>Tên danh mục:</td>
      <td><input type="text" formControlName="name" readonly></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-danger m-lg-2"
                onclick="return confirm('Are you sure you want to Delete this Category?');">Xoá
        </button>
        <button class="btn btn-secondary m-lg-2" routerLink="/category/list">Huỷ</button>
      </td>
    </tr>
  </table>
</form>
