<h1>Thông tin sản phẩm</h1>
<form>
  <table>
    <tr>
      <td>Mã sản phẩm : </td>
      <td style="color:blue" class="text-center">{{product.id}}</td>
    </tr>
    <tr>
      <td>Tên sản phẩm : </td>
      <td style="color:blue" class="text-center">{{product.name}}</td>
    </tr>
    <tr>
      <td>Giá sản phẩm : </td>
      <td style="color:blue" class="text-center">{{product.price}}</td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm : </td>
      <td style="color:blue" class="text-center">{{product.description}}</td>
    </tr>
    <tr>
      <td></td>
        <button class="btn btn-secondary m-lg-2" routerLink="/product/list">Back</button>
    </tr>
  </table>
</form>
