<div class="footer">

  <footer class=" text-center text-white">

    <div class="container p-4 pb-0">
      <div style="float: left">
        <p style="font-size: 15px;text-align: left">103 - 105 Vo Nguyen
          Giap Street,
          Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam <br> Tel.: 84-236-3847 333/888 * Fax:
          84-236-3847 666</p>
      </div>
      <div style="float: right">
        <a href="https://www.facebook.com/furamaresort/" target="_blank" rel="noopener">
          <img src="https://bit.ly/3hkP7H6"
               alt="" width="32"
               height="32"></a>
        <a href="https://www.instagram.com/furama_resort_danang/?hl=vi" target="_blank" rel="noopener"><img
          src="https://bit.ly/3slFC0A" alt="" width="40"
          height="32"></a>
        <a href="https://www.youtube.com/user/furamaresortvietnam/featured" target="_blank" rel="noopener"><img
          src="https://bit.ly/3vhHB8c" alt="" width="40"
          height="32"></a>
      </div>
    </div>
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);clear: both">
      COVID 19 UPDATE: The safety and well-being are our utmost priority
      <a class="text-black" href="https://furamavietnam.com/covid-19-update/">Learn more</a>
    </div>
  </footer>
</div>
